# Bluebook for Bulldozers

## Preprocessing and Training

In [32]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA # not yet using
from sklearn.preprocessing import scale # not yet using
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.metrics import mean_squared_log_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv(
    '../data/processed/exploratory-data-analysis.csv',
    low_memory=False
)

### Converting strings into categories

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372915 entries, 0 to 372914
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   372915 non-null  int64
 1   SalePrice                 372915 non-null  float64
 2   MachineID                 372915 non-null  int64
 3   ModelID                   372915 non-null  int64
 4   datasource                372915 non-null  int64
 5   auctioneerID              355456 non-null  float64
 6   YearMade                  372915 non-null  int64
 7   MachineHoursCurrentMeter  130277 non-null  float64
 8   UsageBand                 68017 non-null   object
 9   fiModelDesc               372915 non-null  object
 10  fiBaseModel               372915 non-null  object
 11  fiSecondaryDesc           250059 non-null  object
 12  fiModelSeries             49026 non-null   object
 13  fiModelDescriptor         70124 non-null   object
 14  ProductSize               175399 non-null  object
 15  fiProductClassDesc        372915 non-null  object
 16  state                     372915 non-null  object
 17  ProductGroup              372915 non-null  object
 18  ProductGroupDesc          372915 non-null  object
 19  Drive_System              99172 non-null   object
 20  Enclosure                 372653 non-null  object
 21  Forks                     181841 non-null  object
 22  Pad_Type                  76121 non-null   object
 23  Ride_Control              141015 non-null  object
 24  Stick                     76121 non-null   object
 25  Transmission              173032 non-null  object
 26  Turbocharged              76121 non-null   object
 27  Blade_Extension           23043 non-null   object
 28  Blade_Width               23043 non-null   object
 29  Enclosure_Type            23043 non-null   object
 30  Engine_Horsepower         23043 non-null   object
 31  Hydraulics                295542 non-null  object
 32  Pushblock                 23043 non-null   object
 33  Ripper                    96921 non-null   object
 34  Scarifier                 23054 non-null   object
 35  Tip_Control               23043 non-null   object
 36  Tire_Size                 87922 non-null   object
 37  Coupler                   196779 non-null  object
 38  Coupler_System            40819 non-null   object
 39  Grouser_Tracks            40735 non-null   object
 40  Hydraulics_Flow           40735 non-null   object
 41  Track_Type                89672 non-null   object
 42  Undercarriage_Pad_Width   90192 non-null   object
 43  Stick_Length              89728 non-null   object
 44  Thumb                     89786 non-null   object
 45  Pattern_Changer           89728 non-null   object
 46  Grouser_Type              89672 non-null   object
 47  Backhoe_Mounting          73682 non-null   object
 48  Blade_Type                74543 non-null   object
 49  Travel_Controls           74548 non-null   object
 50  Differential_Type         64818 non-null   object
 51  Steering_Controls         64782 non-null   object
 52  saleYear                  372915 non-null  int64
 53  saleMonth                 372915 non-null  int64
 54  saleDate                  372915 non-null  int64
 55  saleDayOfWeek             372915 non-null  int64
 56  saleDayOfYear             372915 non-null  int64
dtypes: float64(3), int64(10), object(44)
memory usage: 162.2+ MB

In [4]:
#  find the columns that contain strings, and turn them into categories
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        df[label] = content.astype("category").cat.as_ordered()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372915 entries, 0 to 372914
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   372915 non-null  int64
 1   SalePrice                 372915 non-null  float64
 2   MachineID                 372915 non-null  int64
 3   ModelID                   372915 non-null  int64
 4   datasource                372915 non-null  int64
 5   auctioneerID              355456 non-null  float64
 6   YearMade                  372915 non-null  int64
 7   MachineHoursCurrentMeter  130277 non-null  float64
 8   UsageBand                 68017 non-null   category
 9   fiModelDesc               372915 non-null  category
 10  fiBaseModel               372915 non-null  category
 11  fiSecondaryDesc           250059 non-null  category
 12  fiModelSeries             49026 non-null   category
 13  fiModelDescriptor         70124 non-null   category
 14  ProductSize               175399 non-null  category
 15  fiProductClassDesc        372915 non-null  category
 16  state                     372915 non-null  category
 17  ProductGroup              372915 non-null  category
 18  ProductGroupDesc          372915 non-null  category
 19  Drive_System              99172 non-null   category
 20  Enclosure                 372653 non-null  category
 21  Forks                     181841 non-null  category
 22  Pad_Type                  76121 non-null   category
 23  Ride_Control              141015 non-null  category
 24  Stick                     76121 non-null   category
 25  Transmission              173032 non-null  category
 26  Turbocharged              76121 non-null   category
 27  Blade_Extension           23043 non-null   category
 28  Blade_Width               23043 non-null   category
 29  Enclosure_Type            23043 non-null   category
 30  Engine_Horsepower         23043 non-null   category
 31  Hydraulics                295542 non-null  category
 32  Pushblock                 23043 non-null   category
 33  Ripper                    96921 non-null   category
 34  Scarifier                 23054 non-null   category
 35  Tip_Control               23043 non-null   category
 36  Tire_Size                 87922 non-null   category
 37  Coupler                   196779 non-null  category
 38  Coupler_System            40819 non-null   category
 39  Grouser_Tracks            40735 non-null   category
 40  Hydraulics_Flow           40735 non-null   category
 41  Track_Type                89672 non-null   category
 42  Undercarriage_Pad_Width   90192 non-null   category
 43  Stick_Length              89728 non-null   category
 44  Thumb                     89786 non-null   category
 45  Pattern_Changer           89728 non-null   category
 46  Grouser_Type              89672 non-null   category
 47  Backhoe_Mounting          73682 non-null   category
 48  Blade_Type                74543 non-null   category
 49  Travel_Controls           74548 non-null   category
 50  Differential_Type         64818 non-null   category
 51  Steering_Controls         64782 non-null   category
 52  saleYear                  372915 non-null  int64
 53  saleMonth                 372915 non-null  int64
 54  saleDate                  372915 non-null  int64
 55  saleDayOfWeek             372915 non-null  int64
 56  saleDayOfYear             372915 non-null  int64
dtypes: category(44), float64(3), int64(10)
memory usage: 54.3 MB

In [6]:
df.state.cat.categories

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'Washington DC', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

In [7]:
# Great -- now the string types have been converted into categories

## Filling in missing values

### Fill numeric rows with median value

In [8]:
# Check which columns have null values
numeric_null_columns = []
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            numeric_null_columns.append(label)
numeric_null_columns

['auctioneerID', 'MachineHoursCurrentMeter']

In [9]:
df[numeric_null_columns].isna().sum()

auctioneerID                 17459
MachineHoursCurrentMeter    242638
dtype: int64

In [10]:
for column in numeric_null_columns:
    median = df[column].median()
    df[column].fillna(median, inplace=True)

In [11]:
df[numeric_null_columns].isna().sum()

auctioneerID                0
MachineHoursCurrentMeter    0
dtype: int64

Great -- these values have been successfully imputed!

### Fill in categorical values

In [12]:
# check for columns that are not numeric
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(label)

UsageBand
fiModelDesc
fiBaseModel
fiSecondaryDesc
fiModelSeries
fiModelDescriptor
ProductSize
fiProductClassDesc
state
ProductGroup
ProductGroupDesc
Drive_System
Enclosure
Forks
Pad_Type
Ride_Control
Stick
Transmission
Turbocharged
Blade_Extension
Blade_Width
Enclosure_Type
Engine_Horsepower
Hydraulics
Pushblock
Ripper
Scarifier
Tip_Control
Tire_Size
Coupler
Coupler_System
Grouser_Tracks
Hydraulics_Flow
Track_Type
Undercarriage_Pad_Width
Stick_Length
Thumb
Pattern_Changer
Grouser_Type
Backhoe_Mounting
Blade_Type
Travel_Controls
Differential_Type
Steering_Controls

In [13]:
# turn categorical values into numbers, and fill in missing
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        # add a binary column to indicate whether row had a missing value
        df[label + '_is_missing'] = pd.isnull(content)
        # turn categories into numbers, and add one becuase padans assigns NaNs a value of -1
        df[label] = pd.Categorical(content).codes + 1

In [20]:
pd.Categorical(df['Transmission']).codes

array([3, 0, 8, ..., 0, 0, 5], dtype=int8)

Great -- these values now have codes!

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372915 entries, 0 to 372914
Columns: 101 entries, SalesID to Steering_Controls_is_missing
dtypes: bool(44), float64(3), int16(4), int64(10), int8(40)
memory usage: 69.7 MB

In [23]:
df.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'fiModelDesc',
       ...
       'Undercarriage_Pad_Width_is_missing', 'Stick_Length_is_missing',
       'Thumb_is_missing', 'Pattern_Changer_is_missing',
       'Grouser_Type_is_missing', 'Backhoe_Mounting_is_missing',
       'Blade_Type_is_missing', 'Travel_Controls_is_missing',
       'Differential_Type_is_missing', 'Steering_Controls_is_missing'],
      dtype='object', length=101)

In [25]:
df.isna().sum()

SalesID                         0
SalePrice                       0
MachineID                       0
ModelID                         0
datasource                      0
                               ..
Backhoe_Mounting_is_missing     0
Blade_Type_is_missing           0
Travel_Controls_is_missing      0
Differential_Type_is_missing    0
Steering_Controls_is_missing    0
Length: 101, dtype: int64

Nice -- we now have zero missing values

### Split the data to train and validation sets

In [27]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns='SalePrice'), 
    df.SalePrice,
    test_size=0.3, 
    stratify=None, # we may want to stratify imbalanced labels
    random_state=42
)

In [28]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((261040, 100), (261040,), (111875, 100), (111875,))

### Building an evaluation function
Since we will be testing many instances of many models, we should put together a `show_scores` function.

In [38]:
def rmsle(y_test, y_preds):
    return np.sqrt(mean_squared_log_error(y_test, y_preds))

def show_scores(model):
    train_preds = model.predict(X_train)
    val_preds = model.predict(X_test)
    scores = {
        "Training...MAE": mean_absolute_error(y_train, train_preds),
        "Test.......MAE": mean_absolute_error(y_test, val_preds),
        "Training...RMLSE": rmsle(y_train, train_preds),
        "Test.......RMLSE": rmsle(y_test, val_preds),
        "Training...R2": r2_score(y_train, train_preds),
        "Test.......R2": r2_score(y_test, val_preds),
    }
    return scores

### Naive model implementation
Let's set up a quick model, on a subset of our data, and test it against our `show_scores` function

In [46]:
model = RandomForestRegressor(
    n_jobs=-1,
    random_state=42,
    max_samples=10000 # for better performance, since this is a massive dataset, we can train on samples.
)

In [47]:
%%time
model.fit(X_train, y_train)

CPU times: user 39.2 s, sys: 652 ms, total: 39.8 s
Wall time: 5.23 s

RandomForestRegressor(max_samples=10000, n_jobs=-1, random_state=42)

In [48]:
show_scores(model)

{'Training...MAE': 5400.182681351517,
 'Test.......MAE': 5579.892015910613,
 'Training...RMLSE': 0.23655612508950374,
 'Test.......RMLSE': 0.24546472799191513,
 'Training...R2': 0.8753858237302297,
 'Test.......R2': 0.8656943703268218}

## Hyperparameter tuning with GridSearchCV